DATABASE_DIALECT=org.hibernate.dialect.MySQL5InnoDBDialect
DATABASE_DRIVER=com.mysql.jdbc.Driver
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=pentaho
DATABASE_PASSWD=pentaho
DATABASE_HIBERNATE=hibernate
DATABASE_HIBERNATE_URL="jdbc:mysql://$DATABASE_HOST:$DATABASE_PORT/$DATABASE_HIBERNATE"
DATABASE_QUARTZ=quartz
DATABASE_QUARTZ_URL="jdbc:mysql://$DATABASE_HOST:$DATABASE_PORT/$DATABASE_QUARTZ"
DATABASE_REPOSITORY=repository
DATABASE_REPOSITORY_URL="jdbc:mysql://$DATABASE_HOST:$DATABASE_PORT/$DATABASE_REPOSITORY"
DATABASE_VALIDATION_QUERY="SELECT 1"
DATABASE_TYPE=mysql